/* variables */
/* mixins */
/*HEADER*/
/*header grid*/
.header {
  display: grid;
  grid-template-areas: "alert alert alert" "empty logo buscar" "navbar navbar navbar ";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 90px 50px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  border-bottom-style: inset;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1; }
  @media screen and (max-width: 600px) {
    .header {
      display: grid;
      grid-template-areas: "alert alert alert" "logo buscar navbar";
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 5vh 10vh;
      grid-column-gap: 5px;
      grid-row-gap: 5px;
      height: fit-content; } }

/* alert navbar */
.alert-primary {
  grid-area: alert;
  padding: 1px;
  /* divisor lista */ }
  .alert-primary ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0%;
    margin-right: 1%; }
  .alert-primary li {
    padding-left: 5vh;
    margin: 1% 0vh 1% 0vh;
    border-right: white solid thin;
    padding-right: 5vh; }
    .alert-primary li:last-child {
      border-right: none; }
  .alert-primary a {
    font-size: small;
    color: white; }
    @media screen and (max-width: 600px) {
      .alert-primary a {
        font-size: x-small; } }

/*ENCABEZADO*/
/* centro */
.header__logo {
  justify-self: center;
  align-self: center;
  grid-area: logo;
  text-align: center; }
  .header__logo h2 {
    font-family: 'B612', sans-serif;
    font-style: italic;
    font-size: smaller;
    color: #ff5656; }
    @media screen and (max-width: 600px) {
      .header__logo h2 {
        font-size: x-small; } }
  .header__logo a:hover {
    text-decoration: none; }

/* encabezado derecha  */
.header__encabezadoDerecha {
  grid-area: buscar;
  justify-self: end;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 5%; }
  @media screen and (max-width: 600px) {
    .header__encabezadoDerecha {
      margin-right: 0%; } }

/* search input */
.input-group-append, .input-group-prepend {
  display: block; }

.input-group {
  margin-right: 10%; }

.fa-search {
  color: #a0b0cc; }

.btn-outline-secondary {
  border-color: #a0b0cc; }

.form-control {
  border-color: #a0b0cc; }

/*carrito*/
.header__carrito {
  display: flex;
  align-items: center; }
  .header__carrito img {
    width: 30px;
    height: 30px;
    border: none; }
    .header__carrito img:hover {
      animation: swing 2s; }

.header__navbar {
  grid-area: navbar;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1em;
  color: black;
  margin: 0px; }
  @media screen and (max-width: 600px) {
    .header__navbar {
      padding: 0%; } }
  .header__navbar ul {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    list-style: none;
    padding: 14px 16px;
    width: 40%;
    height: 5vh; }
    @media screen and (max-width: 600px) {
      .header__navbar ul {
        height: fit-content;
        padding: 0px;
        width: fit-content; } }
  .header__navbar li a {
    display: flex;
    justify-content: space-between;
    padding: .5em 1em; }
    @media screen and (max-width: 600px) {
      .header__navbar li a {
        font-size: xx-small;
        padding: 0%; } }
  .header__navbar a {
    height: 4vh;
    font-size: smaller;
    background-color: white;
    display: inline-block;
    position: relative;
    color: black;
    padding-bottom: 10px; }
    .header__navbar a:after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: cadetblue;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0; }
    .header__navbar a:hover {
      text-decoration: none;
      color: cadetblue; }
      .header__navbar a:hover:after {
        width: 100%;
        left: 0; }

/*FOOTER*/
.seguinos {
  background-color: #c0dcfa;
  border-color: #b8daff;
  margin-top: 5%; }

footer {
  background-color: #f1eeee; }
  footer hr {
    width: 60px;
    background-color: cornflowerblue; }

.footer-copyright {
  background-color: #d4d1d1;
  font-size: small; }

/*INDEX*/
/*MENU PPAL*/
.menuppal {
  grid-area: menuppal;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2vh 0vh 2vh 0vh;
  /*hover shadow para contenedores menu*/ }
  .menuppal a {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: normal;
    /*hover negrita para menu*/ }
    .menuppal a:hover {
      font-weight: bold; }
  .menuppal div {
    width: 396px;
    height: 57.41px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: none; }
    .menuppal div:hover {
      box-shadow: 5px 5px 5px #a1a1a1; }
    @media screen and (max-width: 600px) {
      .menuppal div {
        width: 396px;
        display: flex;
        flex-direction: row;
        overflow: scroll; } }

/* color contenedores menuppal */
#pastasTartas {
  background-color: #7aa1eb;
  border: #8ca9aa; }

#vegetales {
  background-color: #7ca8aa;
  border: #89b6a1; }

#panaderia {
  background-color: #befae6;
  border: #8ca9aa; }

/*imagenes productos ppal*/
.productosPpal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

/*Productos destacados*/
.productosDestacados {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: #f1eeee;
  padding: 6% 0% 6% 0%; }
  .productosDestacados article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 10px; }
  .productosDestacados img {
    width: 280px;
    height: 250px;
    margin-bottom: 0px; }

/* CARDS PRODUCTOS  */
.card {
  min-width: fit-content;
  height: fit-content;
  box-shadow: 5px 5px 5px #a1a1a1; }
  .card:hover {
    box-shadow: 5px 5px 5px #7c7c7c; }

/*boton agregar carrito*/
.btn-primary {
  background-color: #c0dcfa;
  border-color: #b8daff; }
  .btn-primary svg:hover {
    animation: swing 2s; }

/*CREAR CUENTA*/
.crearCuenta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%; }
  .crearCuenta h2 {
    margin-bottom: 2%; }

/*CONTACTO*/
.contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 60px; }

.tituloConacto {
  margin: 50px 0px 50px 0px; }

.formulario-contacto {
  width: 30%; }
  .formulario-contacto div {
    width: 90%; }
  .formulario-contacto legend {
    text-align: center; }

.info-conacto {
  align-self: center; }

/*CARRITO*/
.miCarrito {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  column-gap: 10px; }
  .miCarrito img {
    width: 50%;
    height: 20%; }

.form-carrito {
  padding: 5%; }

.titulo-miCarrito {
  margin: 5% 0% 2% 0%; }

/*GENERALES*/
/* H1 */
h1 {
  font-family: 'B612', sans-serif;
  margin: 0%;
  color: #fa6262;
  letter-spacing: 5px; }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: smaller; } }

/*TITULOS SECUNDARIOS*/
h2 {
  color: black;
  text-align: center;
  letter-spacing: 3px;
  font-family: "Alata", sans-serif;
  margin: 0px 0px 1% 0px; }

h3 {
  color: black;
  font-family: "Monserrat Alterantes", sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 5%; }

h4 {
  color: black;
  font-family: "Monserrat Alterantes", sans-serif;
  letter-spacing: 2px; }

p {
  color: black;
  font-family: "Monserrat Alterantes", sans-serif;
  letter-spacing: 2px -1; }

/*imagenes*/
img {
  width: 29.5%;
  height: 380px; }

/*links*/
a {
  text-decoration: none;
  color: black;
  font-family: "Monserrat Alterantes", sans-serif;
  letter-spacing: 2px -1; }

/*Lista OL*/
ol {
  list-style-type: upper-roman; }

/*FORMULARIOS*/
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e1e5e6;
  font-family: "Monserrat Alterantes", sans-serif;
  font-weight: lighter;
  padding: 2%;
  border: grey;
  border-radius: 10px;
  border-width: thin; }
  form h3 {
    color: cornflowerblue;
    margin-top: 0%;
    font-weight: bold;
    font-size: smaller; }

.whatsappFloat {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100; }

.wa-float {
  margin-top: 16px; }

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5; }

.breadcrumb {
  justify-content: center;
  background-color: transparent; }
