/*CARRITO*/ 
.miCarrito {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    column-gap: 10px;
    /* imagen productos */
        img {
            width:25%;
            height: 20%;
            @media screen and (max-width: 600px){
                width: 50px;
                height: 44px;
            }
        }
}

/* formulario carrito padding  */
.form-carrito {
    padding: 5%;
    /* margen responsive */
    @media screen and (max-width: 600px) {
        margin: 2%;
    }
}

/* titulo carrito */
.titulo-miCarrito {
    margin: 5% 0% 2% 0%;
}

/* ajustes tabla responsive */
table {
    @media screen and (max-width: 600px){
        margin: 2%;
        td {
            font-size: x-small;
        }
        th {
            font-size: x-small;
        }
    }
    
}