    /*CREAR CUENTA*/

.crearCuenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
/* titulos */
        h2 {
            margin-bottom: 2%;
        }
/* formulario */
        form {
            justify-content: center;
        } 
/* parrafo */
        p {
            text-align: center;
        }
        
}
    