/*FOOTER*/
.seguinos {
    background-color:$colorTurquesa;
    border-color: #b8daff;
    margin-top: 5%;
} 

footer {
    background-color: $colorGrisFondo;
        hr {
            width: 60px; 
            background-color: cornflowerblue;
        }
}

.footer-copyright {
    background-color:rgb(212, 209, 209);
    font-size: small;
}
