/*INDEX*/

    /*MENU PPAL*/

.menuppal {
    @include menu-ppal

        a {
            font-family: 'Montserrat', sans-serif;
            letter-spacing: $espacioLetras;
            font-weight: normal;
            /*hover negrita para menu*/
                &:hover {
                    font-weight: bold;
                }
        }

        /*hover shadow para contenedores menu*/
        div {
            width: 396px;
            height: 57.41px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            box-shadow:none ;

                &:hover {
                    box-shadow: 5px 5px 5px rgb(161, 161, 161);
                }

                @media screen and (max-width: 600px) {
                    width: 396px;
                    display: flex;
                    flex-direction: row;
                    overflow: scroll;
                }
        }

}
    
    /* color contenedores menuppal */
#pastasTartas {
    background-color: rgb(122, 161, 235);
    border: rgb(140, 169, 170);
}

#vegetales {
    background-color: rgb(124, 168, 170);
    border: rgb(137, 182, 161);
}

#panaderia {
    background-color: rgb(190, 250, 230);
    border: rgb(140, 169, 170);
}

    /*imagenes productos ppal*/
.productosPpal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
    
        /*Productos destacados*/
    
.productosDestacados {
  @include productos-destacados

        article {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: space-between;
            gap: 10px;
        } 

        img {
            width: 280px;
            height: 250px;
            margin-bottom: 0px;
        }
}
    
    
        /* CARDS PRODUCTOS  */
.card {
    min-width: fit-content;
    height: fit-content;
    box-shadow: 5px 5px 5px rgb(161, 161, 161);

        &:hover {
            box-shadow: 5px 5px 5px rgb(124, 124, 124);
        }
} 

            /*boton agregar carrito*/
    
.btn-primary {
    background-color: $colorTurquesa;
    border-color: #b8daff;

        svg:hover {
            animation: swing 2s;
        }
}
    
    