/* variables */
$colorTurquesa:#c0dcfa;
$colorGrisFondo:rgb(241, 238, 238);
$fontSecundaria:'Montserrat', sans-serif;
$fontPrincipal:'B612', sans-serif;
$espacioLetras: 2px;
$colorTitulos: true;

/* mixins */
@mixin menu-ppal {
    grid-area: menuppal;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2vh 0vh 2vh 0vh;
}

@mixin productos-destacados {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: $colorGrisFondo;
    padding: 6% 0% 6% 0%;
    
}

/* IMPORT */

@import "header";
@import "footer"; 
@import "index";
@import "crearCuenta";
@import "conacto";
@import "carrito";

/*GENERALES*/

/* H1 */
h1 {
    font-family: 'B612', sans-serif;
    margin: 0%;
    color: rgb(250, 98, 98);
    letter-spacing: ($espacioLetras*2)+1;

        @media screen and (max-width: 600px) {
                font-size: smaller;
            }
}

/*TITULOS SECUNDARIOS*/
h2 {
    color: black;
    text-align: center;
    letter-spacing: $espacioLetras+1;
    font-family: "Alata", sans-serif;
    margin: 0px 0px 1% 0px;
}

h3 {
    color: black;
    font-family: "Monserrat Alterantes", sans-serif;
    font-weight: lighter;
    letter-spacing: $espacioLetras;
    text-align: center;
    margin-bottom: 5%;
}

h4 {
    color: black;
    font-family: "Monserrat Alterantes", sans-serif;
    letter-spacing: $espacioLetras;
}

p {
    color: black;
    font-family: "Monserrat Alterantes", sans-serif;
    letter-spacing: $espacioLetras -1;
}
    
        /*imagenes*/
img {
    width: 29.5% ;
    height: 380px;
}
        /*links*/
a {
    text-decoration: none;
    color: black;
    font-family: "Monserrat Alterantes", sans-serif;
    letter-spacing: $espacioLetras -1;
}

/*Lista OL*/
ol {
    list-style-type: upper-roman;
}

/*FORMULARIOS*/

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(225, 229, 230);
    font-family: "Monserrat Alterantes", sans-serif;
    font-weight: lighter;
    padding: 2%;
    border: grey;
    border-radius: 10px;
    border-width: thin;

        h3 {
            color: cornflowerblue;
            margin-top: 0%;
            font-weight: bold;
            font-size: smaller;
        }
}

/* WHATS APP ICONO FLOAT */

.whatsappFloat{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.wa-float{
	margin-top:16px;
}

/* CAROUSEL */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

/* BREADCRUMB */
.breadcrumb {
    justify-content:center;
    background-color: transparent ;
}